{% extends "config/base.html" %}

{% block title %}Search{% endblock title %}

{% block body %}

<form method="POST">
    {% csrf_token %}
    {{ form.as_table }}
    <button type="submit">🔎</button>
</form>

{% if message %}
<p>{{ message }}</p>
{% endif %}

{% if results %}
<p>Total number of rows in DB: {{ rows_count }}</p>
<p>Search time duration: {{ search_time }} [s]</p>
<p>Total found rows in DB: {{ results_count }}</p>

<br>

{% for result in results %}
<p>{{ result.first_name }} | {{ result.last_name }} | {{ result.city }} | {{ result.phone_number }} | {{ result.national_code }}</p>
{% endfor %}
{% endif %}

{% endblock body %}